
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="product-wrapper">
        <h2>Menu</h2>

        @*
            <div class="product">
                <img src="~/Content/Images/thumbnail.svg" alt="..." class="img-thumbnail">
                <div class="product-info">
                    <h2>Pizza Pepperoni</h2>
                    <h4>DKK 50,-</h4>
                    <p>Lækker pizza med sprød bund, mozerella ost, tomater, løg og pepperoni.</p>
                </div>
                <div class="add-to-cart">
                    <p>DKK 50,-</p><button class="btn btn-primary my-2 my-sm-0" type="submit">+</button>
                </div>
            </div>
        *@
        <div class="product">
            <div class="row">
                <div class="col">
                    <div class="product-info">
                        <h4>Pizza Pepperoni</h4>
                        <p>Lækker pizza med sprød bund, mozerella ost, tomater, løg og pepperoni.</p>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="price"><p>DKK 50,-</p></div>
                </div>
                <div class="col col-lg-2">
                    <div class="add-to-cart">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="row">
                <div class="col">
                    <div class="product-info">
                        <h4>Pizza Pepperoni</h4>
                        <p>Lækker pizza med sprød bund, mozerella ost, tomater, løg og pepperoni.</p>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="price"><p>DKK 50,-</p></div>
                </div>
                <div class="col col-lg-2">
                    <div class="add-to-cart">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="row">
                <div class="col">
                    <div class="product-info">
                        <h4>Pizza Pepperoni</h4>
                        <p>Lækker pizza med sprød bund, mozerella ost, tomater, løg og pepperoni.</p>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="price"><p>DKK 50,-</p></div>
                </div>
                <div class="col col-lg-2">
                    <div class="add-to-cart">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="row">
                <div class="col">
                    <div class="product-info">
                        <h4>Pizza Pepperoni</h4>
                        <p>Lækker pizza med sprød bund, mozerella ost, tomater, løg og pepperoni.</p>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="price"><p>DKK 50,-</p></div>
                </div>
                <div class="col col-lg-2">
                    <div class="add-to-cart">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="row">
                <div class="col">
                    <div class="product-info">
                        <h4>Pizza Pepperoni</h4>
                        <p>Lækker pizza med sprød bund, mozerella ost, tomater, løg og pepperoni.</p>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="price"><p>DKK 50,-</p></div>
                </div>
                <div class="col col-lg-2">
                    <div class="add-to-cart">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

