
@{
    ViewBag.Title = "Opening_hours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="opening-hours">
        <img src="~/Content/Images/ucn-img.jpg" class="img-fluid" />
        <div class="info">
            <h2>Åbningstider</h2>
            <p>Mandag-torsdag: kl. 08:00-13:00</p>
            <p>Fredag: kl. 08:00-12:00</p>
            <br />
            <h4>Kontakt</h4>
            <p>Telefon: +45 98 12 57 83</p>
            <p>E-mail: LunchTime@ucn.dk</p>
            <br />
            <h4>OBS</h4>
            <p>Du bedes venligst bestille din mad senest<br /> 1 time før afhenting.</p>
        </div>
    </div>
</div>

