<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWcfService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:2113/Wcf" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWcfService" contract="WcfServiceReference.IWcfService"
                name="NetTcpBinding_IWcfService">
                <identity>
                    <userPrincipalName value="JENSBROBAKN0DF4\jensbrobaknielsen" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>