body {
    padding-top: 0px !important;
    padding-bottom: 20px;
    background-color: #f5f5f5;
}

.container {
    max-width: 980px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 75px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}

.btn {
    border-radius: 0px;
}

.login {
    font-weight: bold;
}

    .login a {
        display: block;
        margin-left: 15px;
        font-size: 12px;
    }

.bg-light {
    background-color: #FF9400 !important;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.navigation-bar .navbar a {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.banner {
    height: 830px;
    margin-top: -20px;
    background-image: url(../img/food-wallpaperfinal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 180px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    color: #fff;
}

    .banner h1 {
        font-weight: 700;
        margin-top: 130px;
    }

    .banner h3 {
        font-weight: 300;
    }

    .banner .btn {
        border-color: #f39c12;
        color: #fff;
        background-color: #f39c12;
    }

        .banner .btn:hover {
            background-color: #e67e22;
            border-color: #e67e22;
        }

.opening-hours {
    margin-top: 20px;
    padding: 20px;
    float: left;
    width: 100%;
    background-color: #fff;
    color: #535353;
}

    .opening-hours h4 {
        font-weight: 500;
    }

    .opening-hours p {
        font-weight: 300;
    }

    .opening-hours .info {
        margin-top: 10px;
        float: left;
    }

.login-box {
    width: 500px;
    margin: 0 auto;
}

    .login-box input {
        width: 100%;
        max-width: 100%;
    }

footer {
    float: left;
    margin-top: 50px;
}

.currency-wrapper form {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.currency-wrapper form input {
    width: 100%;
}

.currency-wrapper .balance {
    border-right: 1px solid #ced4da !important;
}