@{
    ViewBag.Title = "my page";
}
<div class="container">
    <h3>Min side</h3>
    <div class="dashboard-wrapper">     
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">UCN Email</span>
            <input type="text" class="form-control" placeholder="@User.Identity.Name" aria-label="Username" aria-describedby="sizing-addon1" readonly>
        </div>
        <br />
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Navn</span>
            <input type="text" class="form-control" placeholder="Storm Young Jin Kim" aria-label="Username" aria-describedby="sizing-addon1" readonly>
        </div>
        <br />
        <div class="input-group input-group-lg">
            <span class="input-group-addon">Balance</span>
            <span class="input-group-addon">0.00</span>
            
            <input type="text" class="form-control" placeholder="Indtast beløb" aria-label="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Godkend</button>
            </span>
        </div>
    </div>
</div>