@{ 
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <h1>Slut med at smøre madpakke</h1>
    <h3>Bestil din frokost online. Hent maden i frikvarteret.</h3>
    <button class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='@Url.Action("Shop", "App")'" type="submit">Se menu</button>
</div>

