<!--<div class="row">-->
    
    <!--<div class="product">-->
        <!--<div class="row">
            <div class="col-md-4">
                <div class="product-info" *ngFor="let p of products">
                    <h4>{{p.name}}</h4>
                    <p>{{p.description}}</p>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="price"><p>{{p.price | currency:"Kr. "}}</p></div>
            </div>
            <div class="col col-lg-2">
                <div class="add-to-cart">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">+</button>
                </div>
            </div>
        </div>-->
    <!--</div>-->
    
<!--</div>-->

<div class="row">

    <div class="product-info col-md-4" *ngFor="let p of products">
        <div class="product-name"><h3>{{p.name}}</h3></div>
        <div>{{p.description}}</div>
        <div>{{p.price | currency:"Kr. "}}</div>
        <button id="buyButton" class="btn btn-success btn-sm pull-left" (click)="addProduct(p)">Tilføj</button>
    </div>

</div>