body {
    padding-top: 0px !important;
    padding-bottom: 20px;
    background-color: #f5f5f5;
}

.container {
    max-width: 980px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 75px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}

.cart {
    padding: 5px;
    margin-left: 5px;
    font-size: 20px;
}

.btn {
    border-radius: 0px;
}

/*.search {
    padding: 5px;
    margin-left: 5px;
    font-size: 20px;
}*/

.search input {
    border-radius: 0px !important;
}

.search .btn {
    color: #fff;
    border-color: #fff;
}

.login {
    font-weight: bold;
}

    .login a {
        display: block;
        margin-left: 15px;
        font-size: 12px;
    }

.bg-light {
    background-color: #FF9400 !important;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.navigation-bar .navbar a {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.btn-outline-success {
    background-color: #2ecc71;
    color: #fff;
    border-color: #2ecc71;
}

    .btn-outline-success:hover {
        background-color: #28a745;
        border-color: #28a745;
    }

.ugens-ret {
    float: left;
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-image: url(../img/ugens-ret-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}

    .ugens-ret .info {
        float: left;
        margin-left: 20px;
    }

    .ugens-ret img {
        float: left;
        border-radius: 100px;
    }

    .ugens-ret h2 {
        padding-bottom: 10px;
        font-weight: 500;
    }

    .ugens-ret p {
        font-weight: 300;
    }

.banner {
    margin-top: -20px;
    background-image: url(../img/food-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    /*background-color: #2c3e50;*/
    text-align: center;
    padding-top: 180px;
    padding-bottom: 180px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    color: #fff;
}

    .banner h1 {
        font-weight: 700;
    }

    .banner h3 {
        font-weight: 300;
    }

    .banner .btn {
        border-color: #f39c12;
        color: #fff;
        background-color: #f39c12;
    }

        .banner .btn:hover {
            background-color: #e67e22;
            border-color: #e67e22;
        }

.product-wrapper {
    background-color: #fff;
    padding: 20px;
}

.product {
    margin-top: 20px;
}

.product-info p {
    font-weight: 300;
    color: #535353;
    font-size: 14px;
}

.product-info h4 {
    color: #535353;
    font-size: 14px;
    font-weight: 500;
}

.product .price p {
    font-weight: 500;
    font-size: 14px;
}

.product .add-to-cart .btn {
    margin-right: 20px;
}

.product .add-to-cart .btn {
    font-weight: bold;
    font-size: 20px;
    float: right;
}

.opening-hours {
    margin-top: 20px;
    padding: 20px;
    float: left;
    width: 100%;
    background-color: #fff;
    color: #535353;
}

    .opening-hours h4 {
        font-weight: 500;
    }

    .opening-hours p {
        font-weight: 300;
    }

    .opening-hours .info {
        margin-top: 10px;
        float: left;
    }

.login-box {
    width: 500px;
    margin: 0 auto;
}

    .login-box input {
        width: 100%;
        max-width: 100%;
    }

footer {
    float: left;
    margin-top: 50px;
}

